body{
    margin-left: 350px;
    padding: 20px 50px;
}

.albumpage-info{
    background-color: rgb(40, 223, 247);
    color: rgb(26, 26, 26);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
}

.albumpage-cover{
    width: 290px;
    height: 290px;
    border-radius: 15px;
}

.albumpage-artists{
    font-size: 20px;
    font-weight: 500;
    margin-block: -5px;
}

.albumpage-name{
    font-size: 28px;
    font-weight: 800;
}

.albumpage-date{
    margin-bottom: 10px;
}

.tracks-list li{
    margin-bottom: 4px;
}

.tracks{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.artist-element{
    display: inline;
    padding-inline: 10px;
}

.track-grid{
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
}

.track-index{
    font-size: 20px;
    font-weight: 700;
}

.albumpage-tracklist{
    overflow: scroll;
}

.review{
    display: flex;
    flex-direction: column;
    background-color: rgb(40, 223, 247);
    padding: 30px;
    border-radius: 15px;
    position: relative;
}

.albumpage-reviews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.albumpage-review-button{
    font-size: 20px;
    margin-bottom: 20px;
    width: 150px;
    padding-block: 10px;
    background-color: rgb(40, 223, 247);
    border: none;
    border-radius: 15px;
    font-weight: 600;
    cursor: pointer;
}

.review-user{
    font-weight: 500;
    font-size: 15px;
}

.review-content{
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(26, 26, 26);
    color: whitesmoke;
    border-radius: 15px;
}

.review-score{
    position: absolute;
    background-color: rgb(26, 26, 26);
    color: whitesmoke;
    right: 32px;
    font-size: 35px;
    top: 36px;
}