.login-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 22vh;
}

.login{
    background-color: rgb(40, 223, 247);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 30px 60px;
    gap: 5px;
    border-radius: 25px;
    width: fit-content;
    height: fit-content;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.login-input{
    font-size: 20px;
    padding: 5px;
    background-color: rgb(26, 26, 26);
    color: whitesmoke;
    border: none;
    border-radius: 10px;
}

.login-button{
    margin-top: 20px;
    font-size: 20px;
    padding: 15px;
    width: 150px;
    background-color: rgb(26, 26, 26);
    color: whitesmoke;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.login-button:hover, .login-toggle button:hover{
    opacity: 0.8;
}

.login-button:active, .login-toggle button:active{
    opacity: 0.6;
}

.login h1 {
    color: rgb(26, 26, 26);
    margin-bottom: 20px;
    font-size: 40px;
}

.login-toggle{
    display: flex;
    align-items: center;
    font-size: 15px;
    gap: 10px;
}

.login-toggle span{
    color: rgb(26, 26, 26);
}

.login-toggle button{
    border: none;
    padding: 5px;
    background-color: rgb(26, 26, 26);
    color: whitesmoke;
    border-radius: 8px;
    cursor: pointer;
}