.login-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 12vh;
    gap: 50px;
}

.login{
    background-color: rgb(40, 223, 247);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 30px 60px;
    gap: 5px;
    border-radius: 25px;
    width: fit-content;
    height: fit-content;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.login-input{
    font-size: 20px;
    padding: 5px;
    background-color: rgb(26, 26, 26);
    color: whitesmoke;
    border: none;
    border-radius: 10px;
}

.login-button{
    margin-top: 20px;
    font-size: 20px;
    padding: 15px;
    width: 150px;
    background-color: rgb(26, 26, 26);
    color: whitesmoke;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.login-button:hover{
    opacity: 0.9;
}

.login-button:active{
    opacity: 0.8S;
}

.login h1 {
    color: rgb(26, 26, 26);
    font-size: 40px;
}

.login-info{
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}

.login-toggle{
    display: flex;
    align-items: center;
    font-size: 15px;
    gap: 10px;
}

.login-toggle span{
    color: rgb(26, 26, 26);
}

.login-toggle button{
    border: none;
    padding: 5px;
    background-color: transparent;
    font-weight: 700;
    font-size: 16px;
    color: rgb(26, 26, 26);
    border-radius: 8px;
    cursor: pointer;
}

.login-continue{
    border: none;
    background-color: transparent;
    color: rgb(26, 26, 26);
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
}

.login-continue:hover, .login-toggle button:hover{
    background-color: rgb(26, 26, 26);
    color: whitesmoke;
}

.login-continue:active, .login-toggle button:active{
    opacity: 0.8;
}

.login-welcome{
    color: rgb(40, 223, 247);
    font-size: 45px;
}

.login-vinyl{
    width: 700px;
    position: fixed;
    z-index: -1;
    left: -350px;
    filter: invert(17%) sepia(14%) saturate(0%) hue-rotate(201deg) brightness(41%) contrast(68%);
    top: 10vh;
    animation-name: spin;
    animation-duration: 8000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.login-headphones{
    height: 700px;
    position: fixed;
    z-index: -1;
    right: -350px;
    top: 10vh;
    filter: invert(17%) sepia(14%) saturate(0%) hue-rotate(201deg) brightness(41%) contrast(68%);
}