.main-nav{
    background-color: rgb(40, 223, 247);
    display: flex;
    z-index: 10;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.main-form{
    display: flex;
    flex: 1;
    min-width: 0px;
    margin-inline: 20px;
}


.main-form input{
    flex: 1;
    padding: 14px;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    padding-left: 25px;
    max-width: 1000px;
    font-size: 20px;
    border: none;
    border-radius: 45px;
    background-color: rgb(26, 26, 26);
    color: whitesmoke;
}

.home-icon{
    width: 40px;
    filter: invert(0%) sepia(10%) saturate(6064%) hue-rotate(70deg) brightness(102%) contrast(80%);
}

.home-container{
    width: 53px;
    height: 53px;
    display: flex;
    justify-content: center;
    flex-shrink: 1;
    border-radius: 9px;
    cursor: pointer;
}

.home-container:hover{
    background-color: rgb(26, 26, 26);
}

.home-container:active{
    opacity: 0.8;
}

.home-container:hover .home-icon{
    filter: invert(100%) sepia(0%) saturate(185%) hue-rotate(82deg) brightness(114%) contrast(92%);
}

.myreviews-button{
    font-size: 24px;
    text-wrap: nowrap;
    border: none;
    width: fit-content;
    border-radius: 9px;
    padding: 12px 20px;
    cursor: pointer;
    background-color: transparent;
    font-weight: 700;
    color: rgb(26, 26, 26);
}

.myreviews-button:hover{
    background-color: rgb(26, 26, 26);
    color: whitesmoke;
}

.myreviews-button:active{
    opacity: 0.8;
}

.album{
    display: grid;
    grid-template-columns: 80px 1fr;
    padding: 15px;
    background-color: rgb(40, 223, 247);
    border-radius: 15px;
    margin-bottom: 20px;
    max-width: 90vw;
}

.album p {
    color: whitesmoke;
}

.album-cover{
    width: 60px;
    border-radius: 10px;
    cursor: pointer;
}

.album-info{
    overflow: hidden;
    color: whitesmoke;
}

.album-name{
    font-size: 24px;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap:nowrap;
    cursor: pointer;
    background-color: transparent;
    color: rgb(26, 26, 26);
    border: none;
}

.album-artists p{
    display: inline;
    padding-inline: 10px;
    color: rgb(26, 26, 26);
    font-weight: 600;
}

.album-artists{
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap:nowrap;
    color: whitesmoke;
}

.main-albums{
    padding-inline: 50px;
}

.page-next, .page-back{
    width: 45px;
    height: 45px;
    background-color: transparent;
    color: whitesmoke;
    border: none;
    border-radius: 20%;
    font-weight: 800;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
}

.page-back{
    right: 30px;
}
.page-next{
    left: 30px;
}

.page-next:hover, .page-back:hover{
    background-color: rgb(40, 223, 247);
    color: rgb(26, 26, 26);
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
    padding: 20px;
}

.page-switches{
    display: flex;
    gap: 15px;
    position: relative;
    align-items: center;
    color: whitesmoke;
    font-size: 30px;
    align-self: center;
}

.main-title h1, h2{
    text-align: center;
    margin-bottom: 10px;
    color: rgb(73, 73, 73);
}

.main-title h1{
    font-size: 40px;
}

.main-title{
    position: fixed;
    top: 40%;
}

.main-vinyl{
    width: 600px;
    position: fixed;
    z-index: -1;
    left: -300px;
    filter: invert(17%) sepia(14%) saturate(0%) hue-rotate(201deg) brightness(41%) contrast(68%);
    top: 18vh;
    animation-name: spin;
    animation-duration: 8000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.main-headphones{
    height: 600px;
    position: fixed;
    z-index: -1;
    right: -300px;
    top: 18vh;
    filter: invert(17%) sepia(14%) saturate(0%) hue-rotate(201deg) brightness(41%) contrast(68%);
}