body{
    margin-top: 110px;
    padding: 20px;
    background-color: rgb(26, 26, 26);
}

*{
    box-sizing: border-box;
}


.main-nav{
    background-color: rgb(40, 223, 247);
    display: flex;
    z-index: 10;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    padding: 30px;
}


.main-form input{
    flex-shrink: 1;
    padding: 14px;
    padding-left: 25px;
    font-size: 20px;
    border: none;
    border-radius: 45px;
    background-color: rgb(26, 26, 26);
    color: whitesmoke;
}

.home-icon{
    width: 40px;
    filter: invert(100%) sepia(0%) saturate(185%) hue-rotate(82deg) brightness(114%) contrast(92%);
}

.home-container:hover{
    background-color: rgb(26, 26, 26);
    width: 53px;
    height: 53px;
    display: flex;
    justify-content: center;
    border-radius: 9px;
}

.home-container{
    flex: 1;
}

.myreviews-button{
    flex: 1;
    font-size: 20px;
    text-wrap: nowrap;
    border: none;
    width: fit-content;
    border-radius: 9px;
    padding: 14px 20px;
    cursor: pointer;
    background-color: rgb(26, 26, 26);
    color: whitesmoke;
}

.album{
    display: grid;
    grid-template-columns: 80px 1fr;
    padding: 15px;
    background-color: rgb(40, 223, 247);
    border-radius: 15px;
    margin-bottom: 20px;
    max-width: 800px;
}

.album p {
    color: whitesmoke;
}

.album-cover{
    width: 60px;
    border-radius: 10px;
}

.album-info{
    overflow: hidden;
    color: whitesmoke;
}

.album-name{
    font-size: 24px;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap:nowrap;
}

.album-artists p{
    display: inline;
    padding-inline: 10px;
    color: whitesmoke;
}

.album-artists{
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap:nowrap;
    color: whitesmoke;
}

.main-albums{
    width: fit-content;
    margin-inline: auto;
    padding-inline: 100px;
}

.page-next, .page-back{
    width: 50px;
    height: 50px;
    background-color: rgb(40, 223, 247);
    border: none;
    border-radius: 20%;
    color: whitesmoke;
    font-weight: 800;
    font-size: 30px;
    position: absolute;
    cursor: pointer;
}

.page-back{
    right: 35px;
}

.page-next{
    left: 35px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-switches{
    display: flex;
    gap: 20px;
    align-items: center;
    color: rgb(40, 223, 247);
    font-size: 30px;
    position: relative;
}

