*{
  margin: 0;
  font-family: 'Onest', sans-serif;
  padding: 0;
  box-sizing: border-box;
  transition: opacity, background-color, color, filter;
  transition-duration: 0.15s;
}

body{
  background-color: rgb(26, 26, 26);
}